<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/vendor/angular/angular.min.js" charset="utf-8"></script>
    <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/vendor/underscore/underscore-min.js"></script>
    <script src="/javascripts/hobiles.controllers.js" charset="utf-8"></script>
    <script src="/javascripts/hobiles.services.js" charset="utf-8"></script>
    <script src="/javascripts/hobiles.filters.js" charset="utf-8"></script>
    <script src="/javascripts/hobiles.directives.js" charset="utf-8"></script>
    <script src="/javascripts/hobiles.js" charset="utf-8"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body ng-app="hobiles">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div ui-view></div>
        </div>
      </div>
    </div>
    <script src="/vendor/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
