<h2>{{ order.number }}</h2>
<div>
  <h3>Order details:</h3>
  <hr />
  <h4 class="important" ng-show="order.important">
    The order has been marked as important
    <a href="#" ng-click="toggle()">x</a>
  </h4>
  <button ng-click="toggle()" ng-hide="order.important">
    Set as important
  </button>
  <ul>
    <li>Web ID: {{ order.numberWeb }}</li>
    <li>Description: {{ order.description }}</li>
    <li>Service: {{ order.service }}</li>
    <li>Customer: {{ order.customerName }}</li>
    <li>Sum: {{ order.sum | currency }}</li>
  </ul>
  <table>
    <thead>
      <tr>
        <th>Comment</th>
        <th>User</th>
        <th>Created</th>
        <th>Upvotes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="comment in order.comments | orderBy: '-upvotes'">
        <td>{{ comment.body }}</td>
        <td>{{ comment.createdBy }}</td>
        <td>{{ comment.created | date : 'dd.MM.yyyy' }}</td>
        <td>{{ comment.upvotes }}</td>
        <td><a ng-click="upvote(comment)">^Up</a></td>
        <td><a ng-click="toggleComment(comment)">*Imp</a></td>
      </tr>
    </tbody>
  </table>
  <form ng-submit="addComment()">
    <h4>Add a comment</h4>
    <input type="text" placeholder="Comment" ng-model="body"></input>
    <input type="text" placeholder="Author" ng-model="createdBy">
    </input>
    <button type="submit">Create</button>
  </form>
  <form name="form" class="css-form" ng-submit="updateOrder(order)">
    <h4>Edit the order</h4>
    <div ng-show="updateStatus.ok">
      <span>
        Order successfully modified #{{ updateStatus.nModified }}
      </span>
    </div>
    <div ng-show="errors['form']">
      <span>{{ errors['form'] }}</span>
    </div>
    <div>
      <input type="text" name="number" ng-model="order.number" server-error></input>
      <div ng-show="form.number.$dirty && form.number.$invalid">
        <span ng-show="form.number.$error.server">
          {{ errors.number }}
        </span>
      </div>
    </div>
    <input type="text" ng-model="order.numberWeb"></input>
    <input type="number" step="any" ng-model="order.sum"></input>
    <input type="text" ng-model="order.description"></input>
    <input type="text" ng-model="order.service"></input>
    <input type="text" ng-model="order.customerName"></input>
    <select ng-options="item.name as item.label for item in dispatch" ng-model="order.dispatch.name"></select>
    <select ng-options="item.name as item.label for item in payment" ng-model="order.payment.name"></select>
    <button type="submit">Update</button>
  </form>
</div>
