<div class="page-header">
  <h1>{{ order.number }} <small>order details</small></span></h1>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="btn-group clear-20" role="group" aria-label="Edit order actions">
      <button ng-click="toggle()" class="btn btn-default">
        {{ (order.important) ? 'Unmark as important' : 'Mark as important' }}
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editOrderModal">
        Edit order
      </button>
    </div>
  </div>
  <div class="col-md-3">
    <div class="btn-group pull-right clear-20" aria-label="Order status">
      <a ng-click="promote()" class="btn btn-danger" role="button" disabled="disabled">{{ order.status.label }}</a>
      <button ng-click="demote()" class="btn btn-default"
        data-toggle="tooltip" data-placement="bottom" title="Return order to the previous step">
        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
      </button>
      <button ng-click="promote()" class="btn btn-default"
        data-toggle="tooltip" data-placement="bottom" title="Advance order to the next step">
        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
<div>
  <!-- navbar location -->
  <div class="alert alert-danger" role="alert" ng-show="order.important">
    <strong></strong>The order is marked as important
  </div>
  <div class="alert alert-success fade in" role="alert" ng-show="appStatus.show">
    <button type="button" class="close" aria-label="Close" ng-click="closeNotification()">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success!</strong> {{ appStatus.message }}
  </div>
  <div class="well">
    <dl class="dl-horizontal">
      <dt>Web ID</dt><dd>{{ order.numberWeb }}</dd>
      <dt>Description</dt><dd>{{ order.description }}</dd>
      <dt>Service</dt><dd>{{ order.service }}</dd>
      <dt>Customer</dt><dd>{{ order.customerName }}</dd>
      <dt>Sum</dt><dd>{{ order.sum | currency }}</dd>
    </dl>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Comment</th>
        <th>User</th>
        <th>Created</th>
        <th>Upvotes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="comment in order.comments | orderBy: '-created'" ng-class="{ 'danger': comment.important }">
        <td>{{ comment.body }}</td>
        <td>{{ comment.createdBy }}</td>
        <td>{{ comment.created | timeAgo }}</td>
        <td>{{ comment.upvotes }}</td>
        <td>
          <a ng-click="upvote(comment)" class="nounderline"><span class="label label-default">Upvote</span></a>
          <a ng-click="toggleComment(comment)" class="nounderline">
            <span class="label label-default">{{ (comment.important) ? 'Unmark' : 'Mark' }}</span>
          </a>
          <a ng-click="delete(comment)" class="nounderline"><span class="label label-warning">Delete</span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <form ng-submit="addComment()">
    <h4>Add a comment</h4>
    <div class="form-group">
      <label class="sr-only" for="commentBody" class="control-label">Comment</label>
      <textarea id="commentBody" rows="3" class="form-control" type="text" placeholder="Comment" ng-model="body"></textarea>
    </div>
    <div class="form-group">
      <label class="sr-only" for="commentAuthor" class="control-label">By</label>
      <input id="commentAuthor" class="form-control" type="text" placeholder="Author" ng-model="createdBy"></input>
    </div>
    <button class="btn btn-default" type="submit">Create</button>
  </form>
  <div>
    <!-- Edit Order Modal START -->
    <div class="modal fade" id="editOrderModal" tabindex="-1" role="dialog" aria-labelledby="editOrderLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editOrderLabel">Edit order {{ order.number }}</h4>
          </div>
          <form name="form" ng-submit="updateOrder(order)">
            <div class="modal-body">
              <div ng-show="errors['form']">
                <span>{{ errors['form'] }}</span>
              </div>
              <div class="form-group" ng-class="{'has-error': form.number.$dirty && form.number.$invalid }">
                <label for="orderNumber" class="control-label">Number</label>
                <input id="orderNumber" class="form-control"  type="text" name="number" ng-model="order.number" server-error></input>
                <p class="help-block" ng-show="form.number.$dirty && form.number.$invalid">
                  <span class="text-danger" ng-show="form.number.$error.server">
                    {{ errors.number }}
                  </span>
                </p>
              </div>
              <div class="form-group">
                <label for="orderNumberWeb" class="control-label">WEB number</label>
                <input id="orderNumberWeb" class="form-control" type="text" ng-model="order.numberWeb"></input>
              </div>
              <div class="form-group">
                <label for="orderCustomer" class="control-label">Customer name</label>
                <input id="orderCustomer" class="form-control" type="text" ng-model="order.customerName"></input>
              </div>
              <div class="form-group">
                <label for="orderDescription" class="control-label">Description</label>
                <textarea id="orderDescription" class="form-control" rows="3" type="text" ng-model="order.description"></textarea>
              </div>
              <div class="form-group">
                <label for="orderService" class="control-label">Service description</label>
                <textarea id="orderService" class="form-control" rows="3" type="text" ng-model="order.service"></textarea>
              </div>
              <div class="form-group">
                <label for="orderSum" class="control-label">Sum</label>
                <div class="input-group">
                  <input id="orderSum" class="form-control" type="number" step="any" ng-model="order.sum"></input>
                  <span class="input-group-addon">€</span>
                </div>
              </div>
              <div class="form-group">
                <label for="orderDispatch" class="control-label">Dispatch</label>
                <select id="orderDispatch" class="form-control" class="form-control"
                  ng-options="item.name as item.label for item in dispatch" ng-model="order.dispatch"></select>
              </div>
              <div class="form-group">
                <label for="orderPayment" class="control-label">Payment</label>
                <select id="orderPayment" class="form-control" class="form-control"
                  ng-options="item.name as item.label for item in payment" ng-model="order.payment"></select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
      </div>
    </div>
    <!-- Edit Order Modal END -->
  </div>
  <div>
    <!-- Edit Order Status Modal START -->
    <div class="modal fade" id="editStatusModal" tabindex="-2" role="dialog" aria-labelledby="editStatusLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editStatusLabel">Update status for {{ order.number }}</h4>
          </div>
          <form name="status" ng-submit="updateStatus(order, state)">
            <div class="modal-body">
              <div class="form-group">
                <label for="newStatus" class="control-label">Status</label>
                <select id="newStatus" class="form-control" class="form-control"
                  ng-options="item as item.label for item in states" ng-model="state"></select>
              </div>
            <div class="modal-footer">
            </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Edit Order Status Modal END -->
  </div>
</div>
