body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.important {
  color: red;
}

.css-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}